.my_switcher {
	position: fixed;
	left: 30px;
	top: 50%;
	transform: translateY(-50%) rotate(90deg);
	z-index: 99;
	@media (max-width: 768px) {
		left: 50%;
		top: 2%;
		transform: none;
		transform: translateX(-50%);
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100px;
		li {
			a {
				position: relative;
				font-family: $primary-font;
				font-size: 16px;
				line-height: 22px;
				font-weight: 700;
				text-decoration: none;
				transition: 0.4s;
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
				justify-content: center;
				img {
					padding-left: 10px;
				}
				span {
					transform: rotate(-180deg);
					display: block;
					text-transform: uppercase;
					@media (max-width: 768px) {
						transform: none;
					}
				}
				&.active {
					display: none;
				}
				&.light {
					color: #ffffff;
				}
				&.dark {
					color: #18191a;
				}
			}
		}
	}
}
