




.axil-slide.slide-style-default .topskew-thumbnail-group .thumbnail img.dark-image {
    display: none;
}

.bg-shape-image-position .bg-shape-image img.dark-image {
    display: none;
}

.axil-website img.dark-image {
    display: none;
}
.portfolio-slider .thumbnail img.dark-image {
    display: none;
}



